.floating_header {
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(-2.5px);
    }
    50%{
        transform: translateY(2.5px);
    }
}

.custom_header {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

textarea::placeholder {
    color: white;
}

/* Media Quries */
@media screen and (max-width: 768px) {
    .custom_header {
        font-size: 20px !important;
    }
}
@media screen and (max-width: 992px) {
    .custom_header {
        font-size: 25px !important;
        font-weight: bolder;
    }
}